.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}
#header{
    grid-area: hd;    
}
#blogposts {
    grid-area: main;
}
#footer{
    grid-area: ft;
}
@media(min-width:600px) and (max-width:875px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd hd"
        "main main"
        "ft ft";
    }
}
@media(min-width:876px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "hd hd hd hd hd"
        "main main main main main"
        "ft ft ft ft ft";
    }
}
.logo{
    display: inline-block;
    text-align: left;
    padding: 20px;
}
.subscribe {
    text-align: right;
    padding: 50px;
    color: rgb(66, 14, 55);
    float: right;
}
.button {
    color: rgb(255, 250, 250);
    background-color: rgb(165, 139, 53);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(66, 14, 55);
}
input[type=button]:hover {
    background-color: rgb(66, 14, 55);
}
nav{
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    font-size: x-large;
    background-color: rgba(165,139,53,0.9);
}
nav a:hover{
    color: rgb(66, 14, 55);
}
body{
    background-image: url("../images/clouds.jpg");
    font-family: 'Play', sans-serif;
}
h1 {
    color: rgb(107, 22, 89);
}
h3 {
    color: rgb(5, 90, 5);
}
h4{
    color: rgb(44, 209, 182);
}
.footer{
    color: rgb(255, 250, 250);
    background-color: rgba(157, 157, 158, 0.78);
    border: 3px solid rgb(165, 139, 53);
    border-radius: 5px;
    padding-left: 20px;
    margin: 10px;
    text-align: center;
}
li {
    display: inline;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
} 
a {
    color: rgb(255, 250, 250);
}
#blogpost1 {
    color: rgb(255, 250, 250);
    background-color: rgba(100, 100, 100, 0.78);
    border: 3px solid rgb(165, 139, 53);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
#blogpost2  {
    color: rgb(255, 250, 250);
    background-color: rgba(157, 157, 158, 0.78);
    border: 3px solid rgb(165, 139, 53);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
#blogpost3 {
    color: rgb(255, 250, 250);
    background-color: rgba(100, 100, 100, 0.78);
    border: 3px solid rgb(165, 139, 53);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
#photo {
    border-radius: 8px;
    max-width: 100%;
}