.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px 1fr 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "sd"
    "ft";
}

#header{
    grid-area: hd;    
}

#about{
    grid-area: main;
}

#contact{
    grid-area: sd;
}

#footer{
    grid-area: ft;
}

@media(min-width:600px) and (max-width:875px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 465px 1fr 1fr;
        grid-template-areas: 
        "hd hd"
        "main main"
        "sd sd"
        "ft ft";
    }
}

@media(min-width:876px){
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 1fr 250px;
        grid-template-areas: 
        "hd hd hd hd hd"
        "main main main sd sd"
        "ft ft ft ft ft";
    }
}
.logo{
    display: inline-block;
    text-align: left;
    padding: 20px;
}
.subscribe {
    text-align: right;
    padding: 50px;
    color: rgb(66, 14, 55);
    float: right;
}

.button {
    color: rgb(255, 250, 250);
    background-color: rgb(165, 139, 53);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav{
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    font-size: x-large;
    background-color: rgba(165,139,53,0.9);
}

nav a:hover{
    color: rgb(66, 14, 55);
}

body{
    /* display: block; */
    background-image: url("../images/clouds.jpg");
    font-family: 'Play', sans-serif;
}

.about{
    color: rgb(255, 255, 255);
    background-color: rgba(100, 100, 100, 0.78);
    border: 3px solid rgb(165, 139, 53);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h1{
    color: rgba(66, 14, 55);
}

h2{
    color: rgb(165, 139, 53);
}

.bibleverse {
    color: rgba(66, 14, 55);
    padding: 5px;
    text-align: center;
}

.bibleverse a:hover{
    color: rgba(165, 139, 53);
}

.contact_me{
    color: rgb(255, 250, 250);
    background-color: rgba(157, 157, 158, 0.78);
    border: 3px solid rgb(165, 139, 53);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.footer{
    color: rgb(255, 250, 250);
    background-color: rgba(157, 157, 158, 0.78);
    border: 3px solid rgb(165, 139, 53);
    border-radius: 5px;
    padding-left: 20px;
    margin: 10px;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
} 

a {
    color: rgb(255, 250, 250);
}

input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(165, 139, 53);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    color: rgb(255, 250, 250);
    background-color: rgb(165, 139, 53);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(66, 14, 55);
}

input[type=button]:hover {
    background-color: rgb(66, 14, 55);
}

#photo {
    border-radius: 50%;
    max-width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 500px;
}  
